<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../../../public/jquery-3.7.1.js"></script>
    <script src="../../../public/jquery.validate.js"></script>
    <script>
        $(document).ready(function(){
            $("#myform").validate();
        });
    </script>
</head>
<body>
    <form id="myform">
        Name : <input type="text" name="txt1" required>
        Mobile : <input type="number" name="txt2" required>
        <input type="submit">
    </form>
</body>
</html>